<!DOCYTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml lang="en">

	<head>

		<meta charset="utf-8"/>

		<title>Credentials</title>

		<style>

			table, th, td {
				border: 2px solid black;
				border-collapse: collapse;
			}

			th, td {
				padding: 5px;
			}

			input {
				width: 100%;
				border: 0;
			}

		</style>

		<script src="./scripts/credentials-form.js"></script>

	</head>

	<body>

		<h1>Credentials</h1>

		<hr />

		<form id="credentialsForm">

			<p align="right">
				<button form="indexForm" id="addRowButton" type="button" onClick="addRow()"><img src="./icons/plus24.svg" width="16" height="16" border="0"></img></button>
			</p>

			<p align="middle">

				<table id="credentialsTable" width="90%">

					<caption>credentials form</caption>

					<colgroup>
						<col width="22%" />
						<col width="22%" />
						<col width="22%" />
						<col width="22%" />
						<col width="6%" />
						<col width="6%" />
					</colgroup>

					<tbody>
						<tr>
							<th title="The login name of a user." bgcolor="DimGray"><font color="White"><b>login</b></font></th>
							<th title="The entity under which the user operates (i.e. the name of the entity)." bgcolor="DimGray"><font color="White"><b>entity</b></font></th>
							<th title="The context under which the user operates (e.g. OS, DB, a specific application)." bgcolor="DimGray"><font color="White"><b>context</b></font></th>
							<th title="The actual password." bgcolor="DimGray"><font color="White"><b>password</b></font></th>
							<th title="Indicates if the user is allowed to log in remotely." bgcolor="DimGray"><font color="White"><b>remote</b></font></th>
							<th title="Indicates if the user has administrative rights." bgcolor="DimGray"><font color="White"><b>admin</b></font></th>
						</tr>

						<tr>
							<td><input form="credentialsForm" name="credentials_login" id="credentials_login" type="text" size="20" maxlength="20" /></td>
							<td><input form="credentialsForm" name="credentials_entity" id="credentials_entity" type="text" size="20" maxlength="20" /></td>
							<td><input form="credentialsForm" name="credentials_context" id="credentials_context" type="text" size="20" maxlength="20" /></td>
							<td><input form="credentialsForm" name="credentials_password" id="credentials_password" type="text" size="20" maxlength="20" /></td>
							<td><p align="middle"><input form="credentialsForm" name="credentials_remote" id="credentials_remote" type="checkbox" /></p></td>
							<td><p align="middle"><input form="credentialsForm" name="credentials_admin" id="credentials_admin" type="checkbox" /></p></td>
						</tr>
					</tbody>

				</table>

			</p>

		</form>


		<footer>

			<hr />

			<p align="middle">
				<a href="./icons/credits.html" target="_blank">credits for icons</a>
			</p>

		</footer>

	</body>

</html>
