<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml lang="en">

	<head>

		<title>Title</title>
		<!-- ToDo - Change the title and delete this comment. -->

	</head>

	<body>

		<h1>Title</h1>
		<!-- ToDo - Change the title and delete this comment. -->

		<hr />


		<!-- ToDo - The actual content of this page. -->


		<footer>

			<hr />

			<p align="middle">
				<a href="./icons/credits.html" target="_blank">credits for icons</a>
			</p>
			<!-- ToDo - Remove the credits for icons if none are embedded. -->
			<!-- ToDo - Update the credits page for all icons that are used. -->
			<!-- ToDo - Delete the comments when finished. -->

		</footer>

	</body>

</html>
